// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Libraries
@import '~@fancyapps/fancybox/dist/jquery.fancybox.min.css';
@import '~@fortawesome/fontawesome-free';

@import "custom";

// Snotify
@import "snotify/snotify-material";

// Font Open Sans
$fa-font-path: "/fonts";
@import '~npm-font-open-sans/open-sans';
@import '~@icon/themify-icons/themify-icons.css';

// Font Montserrat
@import '~typeface-montserrat';

.btn-auth {
  background: black;
  border-color: black;
  font-weight: 900;
  margin-top: 10px;

  &:hover {
    background: #323232;
  }
}

.checkbox-remember-me {
  margin-top: 10px;
}
